.searchWrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.input {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  padding: 5px;
  background-color: rgb(255, 236, 215);
}
