.cardWrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-evenly;
}

.text {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.btn {
  background-color: rgb(255, 236, 215);
  border: none;
  cursor: pointer;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
}
