.cardWrapper {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.btn {
  background-color: rgb(255, 236, 215);
  border: none;
  cursor: pointer;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
}
