.cardWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: rgb(255, 236, 215);
  border-radius: 3px;
  border: none;
}

.text {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
